<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ExemploView</title>
</head>
<body>
    <h1>Produtos Disponíveis:</h1>
    <hr>
    <ul>
        <% @produtos.each do |produto| %>
            <li>
                <%= produto["nome"] %> - R$ <%= produto["preco"]%>
            </li>
        <% end %>
        <h3>Adicionar Novo Produto:</h3>
        <%= form_tag({controller: "welcome", action: "adicionar_produto"}, method: "post") do %>
        <label for="nome">Nome:</label>
        <%= text_field_tag "nome", nil, required: true %>

        <label for="preco">Preço:</label>
        <%= number_field_tag "preco", nil, required: true%>

        <%= submit_tag "Adicionar Produto"%>
        <% end%>
    </ul>
</body>
</html>
